.nav{
    position: relative;
    background-color:rgb(23, 53, 53);
    border-radius: 5px;
    height: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:azure;
    text-decoration: none;
    
}

#navleft{
    float: left;
    margin-top: 15px;
    margin-left:15px;
}
#navright{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#home{
    font-weight: bold;
    text-decoration-line: underline;
}
.nav #home,#books,#about,#reg{
    background-color: rgba(200, 229, 248, 0.171);
    margin-right: 10px;
}

#home:hover,#books:hover,#about:hover,#reg:hover{
    background-color: aliceblue;
    color:darkslategray;
}

#marquee1{
    margin-block-start:auto;
    background-color:darkseagreen;
    width: 100%;
    color: crimson;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#regtable {
    border-collapse: collapse;
    border-spacing: 32px;
}

#regtable th,td {
    padding: 15px;
}



.regForm {
    width: auto;
    height: auto;
    margin: auto;
    background: rgba(37, 116, 21, 0.12);
    position: relative;
  }
  .blur {
    position: relative;
    bottom:auto ;
    right: auto;
    width: auto;
    height: auto;
    margin: 0 auto;
    background: rgba(37, 116, 21, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    
    border: 1px solid rgba(37, 116, 21, 0.28);
  }
